@font-face {
  font-family: 'sell-icon';
  src:  url('fonts/sell-icon.eot?yb08rr');
  src:  url('fonts/sell-icon.eot?yb08rr#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?yb08rr') format('truetype'),
    url('fonts/sell-icon.woff?yb08rr') format('woff'),
    url('fonts/sell-icon.svg?yb08rr#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-date:before {
  content: "\e902";
}
.icon-list:before {
  content: "\e903";
}
.icon-list2:before {
  content: "\e904";
}
.icon-more:before {
  content: "\e905";
}
.icon-note:before {
  content: "\e906";
}
.icon-sort:before {
  content: "\e907";
}

